server/data/*
!server/data/.gitkeep

server/astroserver.sh
server/initdb.sh

web/node_modules
web/statics
web/tsconfig.tsbuildinfo
web/public/logos/*
web/temp
!public/logos/demo-*.png
!public/logos/placeholder.png
